anyio==4.1.0
astroid==2.15.8
bcrypt==4.1.1
black==22.12.0
boto3==1.33.5
boto3-stubs==1.33.5
botocore==1.33.5
botocore-stubs==1.33.5
bump2version==1.0.1
bumpversion==0.6.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.3.2
cryptography==41.0.7
dill==0.3.7
distlib==0.3.7
docker==6.1.3
dynamodb-json==1.3
ecdsa==0.18.0
exceptiongroup==1.2.0
fastapi==0.81.0
filelock==3.13.1
freezegun==1.2.2
fuzzywuzzy==0.18.0
fuzzywuzzy-stubs==0.0.1
h11==0.14.0
identify==2.5.32
idna==3.6
iniconfig==2.0.0
isort==5.12.0
jinja2==3.1.2
jmespath==1.0.1
lazy-object-proxy==1.9.0
levenshtein==0.23.0
mangum==0.15.1
markupsafe==2.1.3
mccabe==0.7.0
moto==4.2.10
mypy==0.991
mypy-boto3-cloudformation==1.33.0
mypy-boto3-dynamodb==1.33.0
mypy-boto3-ec2==1.33.0
mypy-boto3-lambda==1.33.0
mypy-boto3-rds==1.33.0
mypy-boto3-s3==1.33.2
mypy-boto3-secretsmanager==1.33.0
mypy-boto3-sqs==1.33.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
passlib==1.7.4
pathspec==0.11.2
platformdirs==4.0.0
pluggy==1.3.0
pre-commit==3.5.0
py-partiql-parser==0.4.2
pyasn1==0.5.1
pycparser==2.21
pydantic==1.10.13
pyhumps==3.8.0
pylint==2.17.7
pytest==7.4.3
pytest-cov==4.1.0
python-dateutil==2.8.2
python-jose==3.3.0
python-levenshtein==0.23.0
python-multipart==0.0.5
pytz==2022.7.1
pyyaml==6.0.1
rapidfuzz==3.5.2
requests==2.31.0
responses==0.24.1
rsa==4.9
ruff==0.0.261
s3transfer==0.8.2
setuptools==69.0.2
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
starlette==0.19.1
todoist-api-python==2.1.3
tomli==2.0.1
tomlkit==0.12.3
types-awscrt==0.19.19
types-boto3==1.0.2
types-cachetools==5.3.0.7
types-passlib==1.7.7.13
types-pyasn1==0.5.0.1
types-python-dateutil==2.8.19.14
types-python-jose==3.3.4.8
types-pytz==2022.7.1.2
types-requests==2.31.0.10
types-s3transfer==0.8.2
typing-extensions==4.8.0
urllib3==2.0.7
uvicorn==0.18.3
virtualenv==20.24.7
websocket-client==1.6.4
werkzeug==3.0.1
wrapt==1.16.0
xmltodict==0.13.0